<div class="modal-header">
    <h3 class="modal-title"><span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;Decretos</h3>
</div>
<div class="modal-body">

</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="ingresar_decretos.cerrar()"><i class="glyphicon glyphicon-ban-circle"></i>&nbsp;&nbsp;Cerrar</button>
    <button type="button" class="btn btn-primary" ng-click="ingresar_decretos.guardar_decretos()"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;&nbsp;Guardar decretos</button>
</div>
